# {{ project_name }}

[![CI](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions/workflows/ci.yml)
[![pre-commit.ci status](https://results.pre-commit.ci/badge/github/{{ repository_namespace }}/{{ repository_name }}/main.svg)](https://results.pre-commit.ci/latest/github/{{ repository_namespace }}/{{ repository_name }}/main)
[![Documentation Status](https://readthedocs.org/projects/{{ project_slug }}/badge/?version=latest)](https://{{ project_slug }}.readthedocs.io/en/latest/?badge=latest)
[![PyPI](https://img.shields.io/pypi/v/{{ python_distribution }})](https://pypi.org/project/{{ python_distribution }}/)
[![PyPI - License](https://img.shields.io/pypi/l/{{ python_distribution }})](https://pypi.org/project/{{ python_distribution }}/)

{{ project_description }}

## Getting started

Install `{{ python_distribution }}`:

```shell
# pip
pip install {{ python_distribution }}
# pipenv
pipenv install {{ python_distribution }}
# PDM
pdm add {{ python_distribution }}
```

## Features

- [ ] TODO

## Documentation

Documentation is available at <https://{{ project_slug }}.rtfd.io>

## Contributing

Read the [dedicated contributing guidelines](./CONTRIBUTING.md).
